* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* Header section design */
.header {
  width: 100%;
  background-color: #fff8f3;
  background-position: bottom right, left;
  background-repeat: no-repeat;
  background-image: url(../images/header_bg.png), url(../images//developer.png);
}
/* Navbar style */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  cursor: pointer;
}

.navbar .nav-logo {
  font-size: 48px;
  font-weight: 800;
  color: #181818;
}

.navbar .nav-logo::first-letter {
  color: #fd6e0a;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link li {
  margin-left: 68px;
  list-style: none;
}

.nav-link li:last-child a {
  padding: 15px 10px;
  background-color: #fd6e0a;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
}

.nav-link li a {
  text-decoration: none;
  font-size: 20px;
  color: #181818;
}

/* Banner section design */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner Left side */
.banner-left-info-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-left-info-name {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
}
.banner-left-info-desc {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}

.banner-left-info-btn-group-dbtn {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #fd6e0a;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

/* Banner right side */

/* About ME Section Design */

.about {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #fff8f3;
  padding: 100px 0px;
}

.about-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}

.about-detail {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-top: 30px;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.about-info > div {
  margin-left: 50px;
}

.about-info > div h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #757575;
}

.about-info > div p {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What i do section design */

.wid {
  margin: 30px 0px;
}

.wid-heading {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #181818;
}

.wid-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-top: 30px;
  line-height: 30px;
}

.wid-cards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wid-card {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.wid-card-icon {
  width: 44px;
}

.wid-card-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}

.wid-card-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
