* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* Header section design */
.header {
  width: 100%;
  background-color: #fff8f3;
  background-position: bottom right, left;
  background-repeat: no-repeat;
  background-image: url(../images/header_bg.png), url(../images//developer.png);
}
/* Navbar style */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  cursor: pointer;
}

.navbar .nav-logo {
  font-size: 48px;
  font-weight: 800;
  color: #181818;
}

.navbar .nav-logo::first-letter {
  color: #fd6e0a;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link li {
  margin-left: 68px;
  list-style: none;
}

.nav-link li:last-child a {
  padding: 15px 10px;
  background-color: #fd6e0a;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
}

.nav-link li a {
  text-decoration: none;
  font-size: 20px;
  color: #181818;
}

/* Banner section design */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner Left side */
.banner-left-info-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-left-info-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  color: #181818;
}
.banner-left-info-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-top: 20px;
}

.banner-left-info-btn-group-dbtn {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #fd6e0a;
  outline: none;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

/* Banner right side */

.banner-right .img {
}
